{% extends 'tufshopapp/base.html' %}
{% load static %}
{% block content %}


<div class="row">
  {% for product in products %}
  <div class="col-12 col-sm-6 col-lg-4 ">
    <div class="card h-100">
      <img class="thumbnail"  src="{{ product.imageURL }}" alt="{{ product.name }}">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text product-description">{{ product.description }}</p>
        <div class="mt-auto">
          <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-primary add-btn update-cart">Add to Cart</button>
          <h4  style="display: inline-block; float:right;" class="float-right d-inline-block">${{ product.price|floatformat:2 }}</h4>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}